.navbar {
    background-color: #1897ff !important;
}

.disconnect-button {
    background-color: #f14e1b !important;
    border: 0;
}

.rename-button {
    background-color: #1897ff !important;
    border: 0;
}

.navbar-menu > .navbar-start .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.16) !important;
    border-radius: 5px;
}

.device-navbar-brand {
    background-color: rgba(0, 0, 0, 0.719) !important;
    border-radius: 5px;
    margin-left: 6px;
    min-height: auto;
}

.device-navbar {
    padding: 6px 0;
}

.device-navbar-items {
    margin-left: 20px;
}
.device-navbar-brand > .navbar-item,
.device-navbar-items .navbar-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box-device-view {
    width: 100%;
    display: block;
}
  
.box-device-view > .box {
    /* background-color: rgba(185, 175, 175, 0.24); */
}

.box-inspect-view > div {
    /* border: 2px solid var(--border-color); */
    padding: 10px;
}

.inspect-items-view {
    
}

.more-option-img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    transition: transform 0.125s ease;
}

.more-option-img-rotated {
    transform: rotate(90deg);
}

.more-option-view {
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px;
    pointer-events: auto;
    cursor: default;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white !important;
}

.inspect-item>div {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px;
}

.inspect-item {
    border-radius: 10px;
}

.inspect-item input {
    width: 90%;
}


.inspect-item input[type=text], select {
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 4px;
    box-sizing: border-box;
}
.inspect-item input:focus{
    outline: none;
}
  

.inspect-item-selected>div {
    border: 2px solid #1897ff;
}


.inspect-item:hover {
    background-color: rgba(212, 211, 211, 0.4) ; 
}


/* .inspect-item:has(.more-option-view:nth-of-type(2):hover) {
    background: none;
} */

.left-view-bar {
    position: absolute;
    top: 0;
    height: 100%;
    /* min-width: 240px; */
    padding: 8px;
    overflow-y: auto;
    height: inherit;
    left: 0;
    border-right: 1px solid var(--border-color);
}

.left-view-bar-resizer::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
    cursor: w-resize; 
    transition: background-color 0.3s ease; 
}
  
.left-view-bar-resizer-selected::after,
.left-view-bar-resizer:hover::after {
    background-color: var(--border-color); 
}

.device-section-view {
    height: 100%
}

.view-bar-section-name {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.uuid-text {
    max-width: 80%;
    overflow: auto;
}