.navbar {
    background-color: #1897ff !important;
}

.disconnect-button {
    background-color: #f14e1b !important;
    border: 0;
}

.rename-button {
    background-color: #1897ff !important;
    border: 0;
}

.navbar-menu > .navbar-start .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.16) !important;
    border-radius: 5px;
}

.device-navbar-brand {
    background-color: rgba(0, 0, 0, 0.719) !important;
    border-radius: 5px;
    margin-left: 6px;
    min-height: auto;
}

.device-navbar {
    padding: 6px 0;
}

.device-navbar-items {
    margin-left: 20px;
}
.device-navbar-brand > .navbar-item,
.device-navbar-items .navbar-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box-device-view {
    width: 100%;
    display: block;
}
  
.box-device-view > .box {
    /* background-color: rgba(185, 175, 175, 0.24); */
}

.box-inspect-view > div {
    /* border: 2px solid var(--border-color); */
    padding: 10px;
}

.inspect-items-view {
    
}

.more-option-edt {
    min-width: 25px;
}

.more-option-img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    transition: transform 0.125s ease;
}

.more-option-img-rotated {
    transform: rotate(90deg);
}

.more-option-view {
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px;
    pointer-events: auto;
    cursor: default;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white !important;
}

.inspect-item>div {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px;
}

.inspect-item {
    border-radius: 10px;
}

.inspect-item input {
    width: 90%;
}


.inspect-item input[type=text], select {
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 4px;
    box-sizing: border-box;
}
.inspect-item input:focus{
    outline: none;
}
  

.inspect-item-selected>div {
    border: 2px solid #1897ff;
}


.inspect-item:hover {
    background-color: rgba(212, 211, 211, 0.4) ; 
}


/* .inspect-item:has(.more-option-view:nth-of-type(2):hover) {
    background: none;
} */

.left-view-bar {
    top: 0;
    position: relative;
    height: 100%;
    /* min-width: 240px; */
    padding: 8px;
    overflow-y: auto;
    height: inherit;
    left: 0;
    border-right: 1px solid var(--border-color);
}

.left-view-bar-resizer {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
    cursor: w-resize; 
    transition: background-color 0.3s ease; 
}
  
.view-bar-resizer-selected,
.left-view-bar-resizer:hover {
    background-color: var(--border-color); 
}

.device-section-view {
    height: 100%;
    overflow: auto;
    display: flex;
}

.device-option-view {
    height: 100%;
}

.view-bar-section-name {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.uuid-text {
    max-width: 100%;
    overflow-y: auto;
}

.right-view-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-view {
    height: 100%;
}

.bottom-console {
    flex: 1;
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
    font-family: 'Source Code Pro', monospace;
    background-color: #1E2127;
    position: relative;
}

.console-view-bar-resizer {
    left: 0 !important;
    width: 100%;
    height: 10px !important;
    cursor: ns-resize !important;
}

.console {
    width: 100%;
    margin-left: 7px;
}

.console-red-line>pre {
    color: #f14e1b !important;
}

.console>div,
.console>pre {
    background: transparent;
    border: 0;
    height: auto;
    min-height: auto;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    color: white;
    width: 100%;
    padding: 0;
    box-shadow: none !important;
    word-break: break-all;
    border-radius: 0;
}

.characteristics-properties>div {
    padding: 5px;
    font-size: 0.75rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex; /* Flexbox pro centrování obsahu */
    align-items: center; /* Svislé centrování */
    justify-content: center; /* Vodorovné centrování */
    font-weight: bold;
    margin: 0 3px;
    user-select: none;
    color: rgba(0, 0, 0, 0.7);
}

.characteristics-properties-write {
    background-color: #2fbaff;
}

.characteristics-properties-read {
    background-color: #f1552e;
}

.characteristics-properties-notify {
    background-color: #fdd008;
}

.characteristics-properties-unabled {
    opacity: 0.17;
}

.console-split {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.console-split>div {
    width: 100%;
    padding: 10px 15px;
}

.console-right {
    border-left: 1px solid var(--border-color);
    width: 30% !important;

}