.navbar {
    background-color: #1897ff !important;
}

.rename-button {
    background-color: #1897ff !important;
    border: 0;
}

.navbar-menu > .navbar-start strong {
    border-bottom: 2px solid transparent;
}

.selected-navbar-item {
    border-color: rgba(58, 54, 54, 0.40) !important;
}

.navbar-menu > .navbar-start .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.16) !important;
    border-radius: 5px;
}

.device-navbar-brand {
    background-color: rgba(0, 0, 0, 0.719) !important;
    border-radius: 5px;
    margin-left: 6px;
    min-height: auto;
}

.device-navbar {
    padding: 6px 0;
}

.device-navbar-items {
    margin-left: 20px;
}

.device-navbar-brand > .navbar-item,
.device-navbar-items .navbar-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box-device-view {
    width: 100%;
    display: block;
}
  
.box-device-view > .box {
    /* background-color: rgba(185, 175, 175, 0.24); */
}

.box-inspect-view > div {
    /* border: 2px solid var(--border-color); */
    padding: 10px;
}

.inspect-items-view {
    
}

.more-option-edt {
    min-width: 25px;
}

.more-option-img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    transition: transform 100ms ease-out;
}

.more-option-img:hover{
    transform: scale(1.2);
}

.more-option-img-rotated {
    transform: rotate(90deg);
}

.more-option-view {
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px;
    pointer-events: auto;
    cursor: default;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: white !important;
}

.inspect-item>div {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px;
}

.inspect-item {
    border-radius: 10px;
}

.inspect-item input {
    width: 90%;
}


.inspect-item input[type=text], select {
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 4px;
    box-sizing: border-box;
}
.inspect-item input:focus{
    outline: none;
}
  

.inspect-item-selected>div {
    border: 2px solid #1897ff;
}


.inspect-item:hover {
    background-color: rgba(212, 211, 211, 0.4) ; 
}


/* .inspect-item:has(.more-option-view:nth-of-type(2):hover) {
    background: none;
} */

.left-view-bar {
    top: 0;
    position: relative;
    height: 100%;
    /* min-width: 240px; */
    padding: 8px;
    overflow-y: auto;
    height: inherit;
    left: 0;
    border-right: 1px solid var(--border-color);
}

.left-view-bar-resizer {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
    cursor: w-resize; 
    transition: background-color 0.3s ease; 
}
  
.view-bar-resizer-selected,
.left-view-bar-resizer:hover {
    background-color: var(--border-color); 
}

.device-section-view {
    height: 100%;
    overflow: auto;
    display: flex;
}

.device-option-view {
    overflow: hidden !important;
}

.view-bar-section-name {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.uuid-text {
    max-width: 100%;
    overflow-y: auto;
}

.right-view-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-view {
    height: 100%;
}

.bottom-console {
    width: 0;
    min-width: 100%;
    max-width: 100%;
    flex: 1;
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
    font-family: 'Source Code Pro', monospace;
    background-color: #1E2127;
    position: relative;
}

.console-view-bar-resizer {
    left: 0 !important;
    width: 100%;
    height: 10px !important;
    cursor: ns-resize !important;
}

.console {
    width: 100%;
    margin-left: 7px;
}

.console-red-line>pre {
    color: #f14e1b !important;
}

.console>div,
.console>pre {
    background: transparent;
    border: 0;
    height: auto;
    min-height: auto;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    color: white;
    width: 100%;
    padding: 0;
    box-shadow: none !important;
    word-break: break-all;
    border-radius: 0;
}

.characteristics-properties>div {
    padding: 5px;
    font-size: 0.75rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    margin: 0 3px;
    user-select: none;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px 0px #989898;
    transition: transform 1s ease;
}

.characteristics-properties>div:hover {
    transform: scale(1.1);
}

.characteristics-properties-no-hover>div:hover {
    transform: none !important;
}

.characteristics-properties-write-button {
    background-color: #2c7ea7;
}

.characteristics-properties-write,
.characteristics-properties-write-button span {
    background-color: #2fbaff;
}

.disconnect-button,
.characteristics-properties-read-button {
    background-color: #a11e1e;
}

.disconnect-button span,
.characteristics-properties-read,
.characteristics-properties-read-button span{
    background-color: #f1552e;
}

.characteristics-properties-notify-button {
    background-color: #c2a10f;
}
.characteristics-properties-notify,
.characteristics-properties-notify-button span{
    background-color: #fdd008;
}

.characteristics-properties-unsubscribe-button {
    background-color: #3d3d3d !important;
}

.characteristics-properties-unsubscribe-button span{
    background-color: #808080 !important;
}

.characteristics-write-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important; 
}

.characteristics-write-input input {
    width: 100%;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.171) !important;
}

.characteristics-write-input input:disabled {
    background-color: #c4c4c4;
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.6);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.1);
    }
}

.characteristics-write-input-error input {
    animation: highlight 0.5s ease-out 1;
}

.characteristics-properties-unabled {
    opacity: 0.17;
}

.characteristics-properties-unabled:hover {
    transform: none !important;
}

.console-split {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.console-split>div {
    padding: 10px 15px;
    overflow-y: auto;
}

.console-right {
    border-left: 1px solid var(--border-color);
    flex: 1 1;
    overflow: auto;
}

.console-right> .left-view-bar-resizer {
    left: 0 !important;
}

.characteristics-options {
    height: 100%;
    overflow-y: auto;
}
.characteristics-options>div {
    height: 100%;
    padding: 1rem 1.5rem;
}

.characteristics-read-view {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    color: black;
    font-family: 'Source Code Pro', monospace;
}

.characteristics-read-view-lines {
    overflow-y: auto;
}

.characteristics-read-view-time{
    user-select: none;
}

.characteristics-write-span {
    color: #f1552e;
    margin: 0px 7px;
}

.characteristics-read-span {
    color: #64d63e;
    margin: 0px 7px;
}

.characteristics-read-view-value {
    opacity: 0.5;
}

.characteristics-options-buttons button {
    border: 0;
    margin: 0 10px;
}

.characteristics-options-buttons {
    margin: 24px 0 2px 0;
}

.device-section-info-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.device-info-table,
.device-section-info-title {
    margin-bottom: 5px;
    margin-top: 10px;
}

.device-info-table {
    background-color: white !important;
    color: black !important;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;
    height: max-content;

}

.device-info-table table {
    width: 100%;
}

.device-info-table strong {
    color: black !important;
}

.device-info-table tbody tr td {
    padding: 6px;
}

.device-info-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5; 
}
  
.device-info-table tbody tr:nth-child(even) {
    background-color: white; 
}