@import "../../node_modules/bulma/css/bulma.css";
@import "./device.css";


@font-face {
  font-family: 'Source Code Pro';
  src: url('../pages/fonts/source_code_pro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../pages/fonts/source_code_pro/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html,
body {
  width: 100vw;
  height: 100%;
  overflow: auto;
}

:root {
  --border-color: rgba(143, 143, 143, 0.6);
  --text-light-text: rgba(135, 135, 135, 0.9);
}

.light-text {
  color: var(--text-light-text);
}



/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */

#__next {
  height: 100%;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8e9b9e;
}


.box-bg{
  background-color: #1897ff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px !important;
}

.device-adress{
  color: rgba(230, 230, 230, 0.7);
}

.main-view-content-list {
  height: 70%
}

.box-device-list{
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.buttons-op>button {
  padding: 15px;
  border-radius: 10px;
  margin-left: 10px
}

.scan-button {
  background-color: #64d63e;
}

.stop-scan-button {
  background-color: #f14e1b;
}

.filter-button {
  background-color: #1897ff;
}

.filter-window{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  background-color: rgba(117, 117, 117, 0.3);
}

.filters-options{
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.589);
  font-weight: bold;
}

.filters-options>div{
 border-bottom: 2px solid rgba(0, 0, 0, 0.171);
 padding: 20px 0;
}

.uuid-input{
  width: 60%;
}

.uuid-input>input[type=text], select {
  width: 100%;
  padding: 7px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 4px;
  box-sizing: border-box;
}

.uuid-input>input:focus{
  outline: none;
}


.filter-window>.section{
  top: 50%;
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-window>.box {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  background: white;
  background: #0097e6;
  box-shadow: 0 8px 32px #1f26875e;
}


/* Skrytí checkboxu */
.chck-input input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Styl pro checkmark (label) */
.chck-input .checkmark {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: background-color 0.2s ease;
}

/* Styl při najetí myší */
.chck-input .checkmark:hover {
  background-color: #bbb;
}

/* Styl při zaškrtnutí checkboxu */
.chck-input input[type="checkbox"]:checked + .checkmark {
  background-color: #1897ff;
}

/* Fajfka (použití ::after) */
.chck-input input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 38%;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.button {
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  border-radius: 10px;
}

.button span {
  display: block;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transform: translateY(-5px);
  will-change: transform;
  transition: transform 100ms;
}

.button:hover span {
  transform: translateY(-7px);
}

.button:active span {
  transform: translateY(-2px);
}

.button-unabled {
  opacity: 0.2;
  cursor: default;
}

.button-unabled:hover span{
  transform: translateY(-5px) !important;
} 

.button-unabled:active span {
  transform: translateY(-5px) !important;
}

@media (max-width: 1500px) {
  .filter-window>.section{
    width: 60%;
  }
}

@media (max-width: 900px) {
  .filter-window>.section{
    width: 80%;
  }
}
  
@media (max-width: 750px) {
  .box-device-list{
    width: 90%;
  }
}
  
@media (max-width: 530px) {
  .box-device-list{
    width: 100%;
  }
}
